h1{
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin:0;
  padding:40px 0 0 0;
}
.intro p{
  color: #fff;
  padding:40px 0 0 0;
}
.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  position: relative;
  padding: 20px 0 20px 0;
}
.wrap h1{
  font-size: 2.3em;
  color: #FF387F;
  padding: 0px 0 10px  0;
}
.wrap p{
  font-size: 16px;
  padding:  0 0 10px 0;
}

.section{
  text-align:center;
  background-size: cover;
}

#section0 {
  background-image: url(../img/IMG_9427.jpg);
  color: white;
  font-family: arial,helvetica;
}


/*TIMELINE STYLES*/
.timeline-title {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px 0px 10px;
}

.timeline-content {
  padding: 10px 10px 20px 10px;
}

.timeline-height {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  position: relative;
  padding: 20px 0 20px 0;
}

.vtimeline-content {
  background: white;
  /*border: 1px solid #FF387F;*/
}

.vtimeline-icon {
  background: #FF387F;
}

/*carousel*/
.carousel {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px; 
}


/*footer*/
.footer {
  padding: 20px;
  background-color: #FF387F;
}

.footer a {
  color: white;
}

.footer p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
